node_modules
dist
.tmp
.sass-cache
licenses.json
AppverseSamples/app/bower_components/
AppverseSamples/config/
AppverseSamples/node_modules/
AppverseSamples/app/styles/*.css
/nbproject
/.idea/
.sonar/
coverage/
doc/
